.chat-section {
  display: flex;
  height: 100%;
}

.chat-section .left-side {
  width: 41%;
  border-right: 1px solid grey;
  height: 100%;
  padding-top: 20px;
  padding-left: 5px;
  overflow: hidden;
  font-size: 11px;
}


.chat-section .left-side input {
  width: 98%;
}

.chat-section .right-side {
  width: 70%;
  height: 100%;
  padding-top: 20px;
  padding-left: 5px;
  padding-right: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.new-message-area {
  margin-bottom: 60px;
  display: flex;
  justify-content: space-between;
}

.messages-list {
  height: 88%;
  overflow-y: scroll;
}